{% extends 'web/partials/base.html' %}
{% load static %}
{% block content %}
{% include "web/partials/header2.html" %}
<!-- Breadcrumb Start -->
<div class=" main-bg">
   <div class="container-fluid p-0">
      <div class="text-left iq-breadcrumb-one
               iq-bg-over black     ">
         <div class="container">
            <div class="row align-items-center">
               <div class="col-sm-12">
                  <nav aria-label="breadcrumb" class="text-center iq-breadcrumb-two">
                     <h2 class="title">
                        About Us </h2>
                     <ol class="breadcrumb main-bg">
                        <li class="breadcrumb-item"><a href="{% url 'web:index' %}"><i
                                 class="fa fa-home mr-2"></i>Home</a></li>
                        <li class="breadcrumb-item active"> About Us </li>
                     </ol>
                  </nav>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<!-- Breadcrumb End -->
<!-- Counter Start -->
<section class="iq-counter-section iq-pb-70">
   <div class="container">
      <div class="row">
         <div class="col-lg-6 mb-lg-0 mb-5">
            <div class="iq-title-box iq-title-default iq-title-box-2">
               <div class="iq-title-icon">
               </div>
               <span class="iq-subtitle">About Us</span>
               <h2 class="iq-title">DCNS: Your Network Solutions Partner</h2>
               <p class="iq-title-desc">Welcome to DCNS – Digital Corner for Network Solutions, a leading innovative IT
                  and Network Solutions company. We are a dynamic team of entrepreneurs and engineers, and are driven by
                  innovative ideas to create a brighter tomorrow. DCNS prides itself on providing intelligent solutions
                  tailored to businesses of all sizes, coupled with unparalleled and dedicated service. We firmly
                  believe that deep understanding and technological advancement are the pillars that guide businesses
                  towards a successful future Contact us and explore the possibilities. </p>
            </div>
            <div class="iq-list  iq-two-column">
               <ul class="iq-list-with-icon">
                  <li>
                     <i class="ion ion-checkmark-round"></i>Boost SEO ranking
                  </li>
                  <li>
                     <i class="ion ion-checkmark-round"></i> Social Sharing
                  </li>
                  <li>
                     <i class="ion ion-checkmark-round"></i>Marketing
                  </li>
                  <li>
                     <i class="ion ion-checkmark-round"></i>Retention
                  </li>
                  <li>
                     <i class="ion ion-checkmark-round"></i> Visual Reviews
                  </li>
                  <li>
                     <i class="ion ion-checkmark-round"></i>
                     Reviews Generation
                  </li>
               </ul>
            </div>
            <div class="iq-btn-container mt-4">
               <a class="iq-button iq-btn-medium iq-btn-round iq-btn-flat d-inline" href="javascript:void(0)">Read
                  More</a>
            </div>
         </div>
         <div class="col-lg-6">
            <div class="row">
               <div class="col-lg-6 col-md-6">
                  <div class="iq-counter text-center iq-box-shadow iq-counter-style-1">
                     <div class="counter-content">
                        <p class="iq-counter-info">
                           <span class="timer" data-to="50" data-speed="5000">50</span>
                           <span class="counter-after-content"></span>
                           <span class="counter-symbol">+</span>
                        </p>
                        <h5 class="counter-title-text">Engineers and Developers</h5>
                     </div>
                  </div>
                  <div class="iq-counter text-center iq-box-shadow iq-counter-style-1">
                     <div class="counter-content">
                        <p class="iq-counter-info">
                           <span class="timer" data-to="100" data-speed="5000">100</span>
                           <span class="counter-after-content">k</span>
                           <span class="counter-symbol">+</span>
                        </p>
                        <h5 class="counter-title-text">Customers</h5>
                     </div>
                  </div>
               </div>
               <div class="col-lg-6 col-md-6">
                  <div class="iq-counter text-center iq-box-shadow iq-counter-style-1">
                     <div class="counter-content">
                        <p class="iq-counter-info">
                           <span class="timer" data-to="35" data-speed="5000">35</span>
                           <span class="counter-after-content">m</span>
                           <span class="counter-symbol">+</span>
                        </p>
                        <h5 class="counter-title-text">Instances Deployed</h5>

                     </div>
                  </div>
                  <div class="iq-counter text-center iq-box-shadow iq-counter-style-1">
                     <div class="counter-content">
                        <p class="iq-counter-info">
                           <span class="timer" data-to="15" data-speed="5000">15</span>
                           <span class="counter-after-content">m</span>
                           <span class="counter-symbol">+</span>
                        </p>
                        <h5 class="counter-title-text">Support answers per month</h5>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
<!-- Counter End -->

<div class="container">
   <div class="row">
      <div class="col-lg-6 col-sm-12">
         <img src="{% static 'web/images/others/05.png' %}" class="img-fluid" alt="qloud" />
      </div>
      <div class="col-lg-6 col-sm-12 mb-lg-0 mb-5">
         <div class="text-left iq-title-box iq-title-default iq-title-box-2">
            <div class="iq-title-icon"></div>
            <h2 class="iq-title">Our Mission</h2>

            <p class="iq-title-desc">
               Speed ​​is key in the business world. DCNS is dedicated to enabling employees to connect with the right
               people,
               get the right information, and at the right time. We coexist seamlessly with technology, leveraging its
               potential as
               an essential business tool to achieve today’s business goals.
            </p>
         </div>
      </div>

   </div>
</div>
</div>


<div class="container mt-5">
   <div class="row">
      <div class="col-lg-6 col-sm-12 mb-lg-0 mb-5">
         <div class="text-left iq-title-box iq-title-default iq-title-box-2">
            <div class="iq-title-icon"></div>
            <h2 class="iq-title">Our Vision</h2>

            <p class="iq-title-desc">
               As an integrated professional community, we see an evolving landscape in which professional roles are
               diverse
               and geographically diverse. In this era of activity diversity and widespread dispersion, unity becomes
               more
               difficult and vital. At DCNS, we intend to overcome these challenges by leveraging our collective
               expertise
               and state-of-the-art technology to create a seamless collaboration for our clients to succeed.
            </p>
         </div>
      </div>
      <div class="col-lg-6 col-sm-12">
         <img src="{% static 'web/images/others/05.png' %}" class="img-fluid" alt="qloud" />
      </div>
   </div>
</div>
<div class="mt-5">
   {% include "web/partials/whychoose.html" %}
</div>

<!-- Icon-box Start -->
<section class="iq-pricing-section pt-5 iq-pb-70">
   <div class="container">
      <div class="row">
         <div class="col-lg-12">
            <div class="text-center iq-title-box iq-title-default iq-title-box-2">
               <div class="iq-title-icon">
               </div>
               <span class="iq-subtitle">Faq</span>
               <h2 class="iq-title">Frequently Asked Questions</h2>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-lg-12">
            <div class="iq-accordion  iq-accordion-semi-round iq-accordion-classic">
               {% for faq_item in faq %}
               <div class="iq-accordion-block">
                  <div class="iq-accordion-title">
                     <div class="iq-icon-right">
                        <i aria-hidden="true" class="ion ion-minus-round active"></i>
                        <i aria-hidden="true" class="ion ion-plus inactive"></i>
                     </div>
                     <h5 class="mb-0 accordion-title">{{ faq_item.title }}</h5>
                  </div>
                  <div class="iq-accordion-details">
                     <p class="iq-content-text">{{ faq_item.description|safe }}</p>
                  </div>
               </div>
               {% endfor %}
            </div>
         </div>
      </div>
   </div>
</section>
<!-- Icon-box End -->
{% endblock %}