{% extends 'web/partials/base.html' %} 
{% load static %} 
{% block content %}
{% include "web/partials/header.html" %}
    <!-- START qloud2 REVOLUTION SLIDER 6.1.8 -->
    <p class="rs-p-wp-fix"></p>
    <rs-module-wrap id="rev_slider_2_1_wrapper" data-alias="qloud2" data-source="gallery" style="background:transparent;padding:0;margin:0px auto;margin-top:0;margin-bottom:0;">
        <rs-module id="rev_slider_2_1" style="display:none;" data-version="6.1.8">
            <rs-slides>
                <rs-slide data-key="rs-2" data-title="Slide" data-anim="ei:d;eo:d;s:1000;r:0;t:fade;sl:0;">
                    <img src="{% static 'web/revslider/assets/slider2.png' %}" alt="qloud" title="slider2" width="1178" height="845" data-parallax="off" class="rev-slidebg" data-no-retina>
                    <!--
      -->
                    <rs-layer id="slider-2-slide-2-layer-0" class="textgyreadventor" data-type="text" data-color="#007bfc" data-rsp_ch="on" data-xy="xo:136px,96px,67px,41px;y:m;yo:-119px,-100px,-274px,-254px;" data-text="w:normal;s:70,49,45,36;l:90,64,48,29;fw:700;" data-frame_0="x:-50,-35,-26,-16;" data-frame_1="st:600;sp:1000;sR:600;" data-frame_999="o:0;st:w;sR:7400;" style="z-index:8;">Enhance your business
                    </rs-layer>
                    <!--
      -->
                    <rs-layer id="slider-2-slide-2-layer-1" class="textgyreadventor" data-type="text" data-color="#142149" data-rsp_ch="on" data-xy="xo:137px,97px,67px,41px;yo:315px,230px,108px,105px;" data-text="w:normal;s:70,49,45,36;l:90,64,48,29;fw:700;" data-frame_0="x:-50,-35,-26,-16;" data-frame_1="st:800;sp:1000;sR:800;" data-frame_999="o:0;st:w;sR:7200;" style="z-index:9;">with DCNS
                    </rs-layer>
                    <!--
      -->
                    <rs-layer id="slider-2-slide-2-layer-2" data-type="text" data-color="#5e7290" data-rsp_ch="on" data-xy="xo:137px,97px,65px,40px;yo:448px,329px,185px,163px;" data-text="w:normal;s:20,14,20,12;l:35,24,35,24;" data-frame_0="x:-50,-35,-26,-16;" data-frame_1="st:1000;sp:1000;sR:1000;" data-frame_999="o:0;st:w;sR:7000;" style="z-index:10;">Innovative IT, networking,and cloud solutions for 
                        <br>a  future-ready tomorrow!
                    </rs-layer>
                    <!--
      --><a id="slider-2-slide-2-layer-3" class="rs-layer iq-button iq-btn-round rev-btn" href="{% url "web:contact" %}" target="_self" rel="nofollow" data-type="button" data-rsp_ch="on" data-xy="xo:130px,92px,69px,42px;yo:582px,430px,290px,247px;" data-text="w:normal;s:18,12,20,16;l:18,12,24,16;" data-dim="h:50px,35px,50px,50px;minh:0px,none,none,none;" data-padding="t:15,11,15,15;r:30,21,30,25;b:15,11,15,15;l:30,21,30,25;" data-border="bor:10px,10px,10px,10px;" data-frame_0="x:-50,-35,-26,-16;" data-frame_1="st:1300;sp:1000;sR:1300;" data-frame_999="o:0;st:w;sR:6700;" data-frame_hover="bgc:#007aff;bor:10px,10px,10px,10px;sp:100;e:Power1.easeInOut;bri:120%;" style="z-index:11;background-color:#007bfc;text-transform:capitalize;">Contact Us
      </a>
                    <!--
      -->
                    <rs-layer id="slider-2-slide-2-layer-4" data-type="image" data-rsp_ch="on" data-xy="x:r,r,r,c;xo:-45px,-21px,140px,0;y:b;yo:67px,80px,26px,21px;" data-text="w:normal;s:20,14,10,6;l:0,17,12,7;" data-dim="w:614px,436px,389px,268px;h:639px,454px,405px,279px;" data-frame_0="sX:0.9;sY:0.9;" data-frame_1="st:1600;sp:1000;sR:1600;" data-frame_999="o:0;st:w;sR:6400;" style="z-index:31;"><img src="{% static 'web/revslider/assets/slider24.png' %}" alt="qloud" width="614" height="639" data-no-retina>
                    </rs-layer>
                    <!--
      -->
                    <rs-layer id="slider-2-slide-2-layer-5" class="rs-pxl-1" data-type="image" data-rsp_ch="on" data-xy="xo:897px,637px,278px,128px;yo:670px,476px,643px,600px;" data-text="w:normal;s:20,14,10,6;l:0,17,12,7;" data-dim="w:120px,85px,64px,39px;h:103px,73px,55px,33px;" data-frame_0="y:-50,-35,-26,-16;" data-frame_1="st:2000;sp:1000;sR:2000;" data-frame_999="o:0;st:w;sR:6000;" data-loop_0="x:-5px;" data-loop_999="x:5px;sp:3000;e:Sine.easeInOut;yym:t;" style="z-index:13;"><img src="{% static 'web/revslider/assets/slider21.png' %}" alt="qloud" width="120" height="103" data-no-retina>
                    </rs-layer>
                    <!--
      -->
                    <rs-layer id="slider-2-slide-2-layer-6" class="rs-pxl-1" data-type="image" data-rsp_ch="on" data-xy="xo:792px,563px,198px,89px;yo:595px,423px,595px,577px;" data-text="w:normal;s:20,14,10,6;l:0,17,12,7;" data-dim="w:120px,85px,64px,39px;h:103px,73px,55px,33px;" data-frame_0="y:-50,-35,-26,-16;" data-frame_1="st:2000;sp:1000;sR:2000;" data-frame_999="o:0;st:w;sR:6000;" data-loop_0="x:-5px;" data-loop_999="x:5px;sp:3000;e:Sine.easeInOut;yym:t;" style="z-index:12;"><img src="{% static 'web/revslider/assets/slider21.png' %}" alt="qloud" width="120" height="103" data-no-retina>
                    </rs-layer>
                    <!--
      -->
                    <rs-layer id="slider-2-slide-2-layer-7" class="rs-pxl-1" data-type="image" data-rsp_ch="on" data-xy="xo:1084px,770px,388px,202px;yo:593px,421px,600px,578px;" data-text="w:normal;s:20,14,10,6;l:0,17,12,7;" data-dim="w:104px,73px,55px,33px;h:90px,64px,48px,29px;" data-frame_0="y:-50,-35,-26,-16;" data-frame_1="st:1800;sp:1000;sR:1800;" data-frame_999="o:0;st:w;sR:6200;" data-loop_0="y:-5px;" data-loop_999="y:5px;sp:5000;e:Sine.easeInOut;yym:t;" style="z-index:32;"><img src="{% static 'web/revslider/assets/slider23.png' %}" alt="qloud" width="104" height="90" data-no-retina>
                    </rs-layer>
                    <!--
      -->
                    <rs-layer id="slider-2-slide-2-layer-8" class="rs-pxl-1" data-type="image" data-rsp_ch="on" data-xy="xo:920px,654px,277px,122px;yo:498px,354px,536px,540px;" data-text="w:normal;s:20,14,10,6;l:0,17,12,7;" data-dim="w:104px,73px,55px,33px;h:90px,64px,48px,29px;" data-frame_0="y:-50,-35,-26,-16;" data-frame_1="st:1800;sp:1000;sR:1800;" data-frame_999="o:0;st:w;sR:6200;" data-loop_0="y:-5px;" data-loop_999="y:5px;sp:5000;e:Sine.easeInOut;yym:t;" style="z-index:33;"><img src="{% static 'web/revslider/assets/slider23.png' %}" alt="qloud" width="104" height="90" data-no-retina>
                    </rs-layer>
                    <!--
      -->
                    <rs-layer id="slider-2-slide-2-layer-9" class="rs-pxl-2" data-type="image" data-rsp_ch="on" data-xy="xo:1279px,909px,529px,320px;yo:675px,480px,640px,597px;" data-text="w:normal;s:20,14,10,6;l:0,17,12,7;" data-dim="w:89px,63px,47px,28px;h:76px,54px,41px,25px;" data-frame_0="y:-50,-35,-26,-16;" data-frame_1="st:2300;sp:1000;sR:2300;" data-frame_999="o:0;st:w;sR:5700;" data-loop_999="sX:0.8;sY:0.8;sp:5000;e:Power0.easeInOut;yys:t;yyf:t;" style="z-index:14;"><img src="{% static 'web/revslider/assets/slider22.png' %}" alt="qloud" width="89" height="76" data-no-retina>
                    </rs-layer>
                    <!--
      -->
                    <rs-layer id="slider-2-slide-2-layer-10" class="rs-pxl-2" data-type="image" data-rsp_ch="on" data-xy="xo:842px,598px,213px,108px;yo:396px,281px,470px,478px;" data-text="w:normal;s:20,14,10,6;l:0,17,12,7;" data-dim="w:89px,63px,47px,28px;h:76px,54px,41px,25px;" data-frame_0="y:-50,-35,-26,-16;" data-frame_1="st:2300;sp:1000;sR:2300;" data-frame_999="o:0;st:w;sR:5700;" data-loop_999="sX:0.8;sY:0.8;sp:5000;e:Power0.easeInOut;yys:t;yyf:t;" style="z-index:15;"><img src="{% static 'web/revslider/assets/slider22.png' %}" alt="qloud" width="89" height="76" data-no-retina>
                    </rs-layer>
                    <!--
      -->
                    <rs-layer id="slider-2-slide-2-layer-11" data-type="image" data-rsp_ch="on" data-xy="xo:1338px,951px,561px,346px;yo:418px,297px,478px,294px;" data-text="w:normal;s:20,14,10,6;l:0,17,12,7;" data-dim="w:97px,68px,51px,31px;h:89px,63px,47px,28px;" data-vbility="t,t,t,f" data-frame_0="y:-50,-35,-26,-16;" data-frame_1="st:2600;sp:1000;sR:2600;" data-frame_999="o:0;st:w;sR:5400;" style="z-index:26;"><img src="{% static 'web/revslider/assets/slider25.png' %}" alt="qloud" width="97" height="89" data-no-retina>
                    </rs-layer>
                    <!--
      -->
                    <rs-layer id="slider-2-slide-2-layer-12" data-type="image" data-rsp_ch="on" data-xy="xo:1230px,874px,505px,311px;yo:353px,251px,441px,272px;" data-text="w:normal;s:20,14,10,6;l:0,17,12,7;" data-dim="w:97px,68px,51px,31px;h:89px,63px,47px,28px;" data-vbility="t,t,t,f" data-frame_0="y:-50,-35,-26,-16;" data-frame_1="st:2600;sp:1000;sR:2600;" data-frame_999="o:0;st:w;sR:5400;" style="z-index:16;"><img src="{% static 'web/revslider/assets/slider25.png' %}" alt="qloud" width="97" height="89" data-no-retina>
                    </rs-layer>
                    <!--
      -->
                    <rs-layer id="slider-2-slide-2-layer-14" data-type="image" data-rsp_ch="on" data-xy="xo:1338px,951px,561px,346px;yo:384px,273px,460px,283px;" data-text="w:normal;s:20,14,10,6;l:0,17,12,7;" data-dim="w:97px,68px,51px,31px;h:89px,63px,47px,28px;" data-vbility="t,t,t,f" data-frame_0="y:-50,-35,-26,-16;" data-frame_1="st:2900;sp:1000;sR:2900;" data-frame_999="o:0;st:w;sR:5100;" style="z-index:27;"><img src="{% static 'web/revslider/assets/slider25.png' %}" alt="qloud" width="97" height="89" data-no-retina>
                    </rs-layer>
                    <!--
      -->
                    <rs-layer id="slider-2-slide-2-layer-15" data-type="image" data-rsp_ch="on" data-xy="xo:1284px,913px,533px,328px;yo:316px,224px,423px,260px;" data-text="w:normal;s:20,14,10,6;l:0,17,12,7;" data-dim="w:97px,68px,51px,31px;h:89px,63px,47px,28px;" data-vbility="t,t,t,f" data-frame_0="y:-50,-35,-26,-16;" data-frame_1="st:3200;sp:1000;sR:3200;" data-frame_999="o:0;st:w;sR:4800;" style="z-index:23;"><img src="{% static 'web/revslider/assets/slider25.png' %}" alt="qloud" width="97" height="89" data-no-retina>
                    </rs-layer>
                    <!--
      -->
                    <rs-layer id="slider-2-slide-2-layer-17" data-type="image" data-rsp_ch="on" data-xy="xo:1338px,951px,561px,346px;yo:314px,223px,421px,259px;" data-text="w:normal;s:20,14,10,6;l:0,17,12,7;" data-dim="w:97px,68px,51px,31px;h:56px,39px,29px,17px;" data-vbility="t,t,t,f" data-frame_0="y:-50,-35,-26,-16;" data-frame_1="st:3800;sp:1000;sR:3800;" data-frame_999="o:0;st:w;sR:4200;" style="z-index:30;"><img src="{% static 'web/revslider/assets/slider27.png' %}" alt="qloud" width="97" height="56" data-no-retina>
                    </rs-layer>
                    <!--
      -->
                    <rs-layer id="slider-2-slide-2-layer-18" data-type="image" data-rsp_ch="on" data-xy="xo:1284px,913px,533px,328px;yo:350px,248px,441px,272px;" data-text="w:normal;s:20,14,10,6;l:0,17,12,7;" data-dim="w:97px,68px,51px,31px;h:89px,63px,47px,28px;" data-vbility="t,t,t,f" data-frame_0="y:-50,-35,-26,-16;" data-frame_1="st:2900;sp:1000;sR:2900;" data-frame_999="o:0;st:w;sR:5100;" style="z-index:22;"><img src="{% static 'web/revslider/assets/slider25.png' %}" alt="qloud" width="97" height="89" data-no-retina>
                    </rs-layer>
                    <!--
      -->
                    <rs-layer id="slider-2-slide-2-layer-20" data-type="image" data-rsp_ch="on" data-xy="xo:1285px,913px,533px,328px;yo:385px,273px,459px,283px;" data-text="w:normal;s:20,14,10,6;l:0,17,12,7;" data-dim="w:97px,68px,51px,31px;h:89px,63px,47px,28px;" data-vbility="t,t,t,f" data-frame_0="y:-50,-35,-26,-16;" data-frame_1="st:2600;sp:1000;sR:2600;" data-frame_999="o:0;st:w;sR:5400;" style="z-index:21;"><img src="{% static 'web/revslider/assets/slider25.png' %}" alt="qloud" width="97" height="89" data-no-retina>
                    </rs-layer>
                    <!--
      -->
                    <rs-layer id="slider-2-slide-2-layer-21" data-type="image" data-rsp_ch="on" data-xy="xo:1230px,874px,504px,310px;yo:320px,227px,423px,260px;" data-text="w:normal;s:20,14,10,6;l:0,17,12,7;" data-dim="w:97px,68px,51px,31px;h:89px,63px,47px,28px;" data-vbility="t,t,t,f" data-frame_0="y:-50,-35,-26,-16;" data-frame_1="st:2900;sp:1000;sR:2900;" data-frame_999="o:0;st:w;sR:5100;" style="z-index:17;"><img src="{% static 'web/revslider/assets/slider25.png' %}" alt="qloud" width="97" height="89" data-no-retina>
                    </rs-layer>
                    <!--
      -->
                    <rs-layer id="slider-2-slide-2-layer-22" data-type="image" data-rsp_ch="on" data-xy="xo:1229px,873px,504px,310px;yo:253px,179px,387px,238px;" data-text="w:normal;s:20,14,10,6;l:0,17,12,7;" data-dim="w:97px,68px,51px,31px;h:89px,63px,47px,28px;" data-vbility="t,t,t,f" data-frame_0="y:-50,-35,-26,-16;" data-frame_1="st:3500;sp:1000;sR:3500;" data-frame_999="o:0;st:w;sR:4500;" style="z-index:19;"><img src="{% static 'web/revslider/assets/slider25.png' %}" alt="qloud" width="97" height="89" data-no-retina>
                    </rs-layer>
                    <!--
      -->
                    <rs-layer id="slider-2-slide-2-layer-23" data-type="image" data-rsp_ch="on" data-xy="xo:1229px,873px,504px,310px;yo:287px,204px,405px,249px;" data-text="w:normal;s:20,14,10,6;l:0,17,12,7;" data-dim="w:97px,68px,51px,31px;h:89px,63px,47px,28px;" data-vbility="t,t,t,f" data-frame_0="y:-50,-35,-26,-16;" data-frame_1="st:3200;sp:1000;sR:3200;" data-frame_999="o:0;st:w;sR:4800;" style="z-index:18;"><img src="{% static 'web/revslider/assets/slider25.png' %}" alt="qloud" width="97" height="89" data-no-retina>
                    </rs-layer>
                    <!--
      -->
                    <rs-layer id="slider-2-slide-2-layer-24" data-type="image" data-rsp_ch="on" data-xy="xo:1226px,871px,503px,310px;yo:253px,179px,388px,239px;" data-text="w:normal;s:20,14,10,6;l:0,17,12,7;" data-dim="w:97px,68px,51px,31px;h:56px,39px,29px,17px;" data-vbility="t,t,t,f" data-frame_0="y:-50,-35,-26,-16;" data-frame_1="st:3800;sp:1000;sR:3800;" data-frame_999="o:0;st:w;sR:4200;" style="z-index:20;"><img src="{% static 'web/revslider/assets/slider27.png' %}" alt="qloud" width="97" height="56" data-no-retina>
                    </rs-layer>
                    <!--
      -->
                    <rs-layer id="slider-2-slide-2-layer-25" data-type="image" data-rsp_ch="on" data-xy="xo:1284px,913px,532px,328px;yo:283px,201px,404px,249px;" data-text="w:normal;s:20,14,10,6;l:0,17,12,7;" data-dim="w:97px,68px,51px,31px;h:56px,39px,29px,17px;" data-vbility="t,t,t,f" data-frame_0="y:-50,-35,-26,-16;" data-frame_1="st:3800;sp:1000;sR:3800;" data-frame_999="o:0;st:w;sR:4200;" style="z-index:25;"><img src="{% static 'web/revslider/assets/slider27.png' %}" alt="qloud" width="97" height="56" data-no-retina>
                    </rs-layer>
                    <!--
      -->
                    <rs-layer id="slider-2-slide-2-layer-26" data-type="image" data-rsp_ch="on" data-xy="xo:1284px,913px,533px,328px;yo:282px,200px,405px,249px;" data-text="w:normal;s:20,14,10,6;l:0,17,12,7;" data-dim="w:97px,68px,51px,31px;h:89px,63px,47px,28px;" data-vbility="t,t,t,f" data-frame_0="y:-50,-35,-26,-16;" data-frame_1="st:3500;sp:1000;sR:3500;" data-frame_999="o:0;st:w;sR:4500;" style="z-index:24;"><img src="{% static 'web/revslider/assets/slider25.png' %}" alt="qloud" width="97" height="89" data-no-retina>
                    </rs-layer>
                    <!--
      -->
                    <rs-layer id="slider-2-slide-2-layer-27" data-type="image" data-rsp_ch="on" data-xy="xo:1338px,951px,561px,346px;yo:350px,248px,442px,272px;" data-text="w:normal;s:20,14,10,6;l:0,17,12,7;" data-dim="w:97px,68px,51px,31px;h:89px,63px,47px,28px;" data-vbility="t,t,t,f" data-frame_0="y:-50,-35,-26,-16;" data-frame_1="st:3200;sp:1000;sR:3200;" data-frame_999="o:0;st:w;sR:4800;" style="z-index:28;"><img src="{% static 'web/revslider/assets/slider25.png' %}" alt="qloud" width="97" height="89" data-no-retina>
                    </rs-layer>
                    <!--
      -->
                    <rs-layer id="slider-2-slide-2-layer-28" data-type="image" data-rsp_ch="on" data-xy="xo:1338px,951px,560px,345px;yo:316px,224px,423px,260px;" data-text="w:normal;s:20,14,10,6;l:0,17,12,7;" data-dim="w:97px,68px,51px,31px;h:89px,63px,47px,28px;" data-vbility="t,t,t,f" data-frame_0="y:-50,-35,-26,-16;" data-frame_1="st:3500;sp:1000;sR:3500;" data-frame_999="o:0;st:w;sR:4500;" style="z-index:29;"><img src="{% static 'web/revslider/assets/slider25.png' %}" alt="qloud" width="97" height="89" data-no-retina>
                    </rs-layer>
                    <!--
      -->
                </rs-slide>
            </rs-slides>
            <rs-progress class="rs-bottom" style="visibility: hidden !important;"></rs-progress>
        </rs-module>
        <script>
            if (typeof revslider_showDoubleJqueryError === "undefined") {
                function revslider_showDoubleJqueryError(sliderID) {
                    var err = "<div class='rs_error_message_box'>";
                    err += "<div class='rs_error_message_oops'>Oops...</div>";
                    err += "<div class='rs_error_message_content'>";
                    err += "You have some jquery.js library include that comes after the Slider Revolution files js inclusion.<br>";
                    err += "To fix this, you can:<br>&nbsp;&nbsp;&nbsp; 1. Set 'Module General Options' -> 'Advanced' -> 'jQuery & OutPut Filters' -> 'Put JS to Body' to on";
                    err += "<br>&nbsp;&nbsp;&nbsp; 2. Find the double jQuery.js inclusion and remove it";
                    err += "</div>";
                    err += "</div>";
                    jQuery(sliderID).show().html(err);
                }
            }
        </script>
    </rs-module-wrap>
    <!-- END REVOLUTION SLIDER -->
    <!-- Main-Content Start -->
    <div class="main-content">
        <!-- Client Start -->
        <div class="client-padding">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 align-self-center">
                        <div class="iq-client iq-client-style-1  iq-has-grascale">
                            <div id="my-carousel" class="owl-carousel" data-dots="false" data-nav="false" data-items="6" data-items-laptop="4" data-items-tab="2" data-items-mobile="1" data-items-mobile-sm="1" data-autoplay="true" data-loop="true" data-margin="30">
                                <div class="item">
                                    <div class="iq-client-img">
                                        <img src="{% static 'web/images/client/01.png' %}" class="img-fluid" alt="client-img" />
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="iq-client-img">
                                        <img src="{% static 'web/images/client/02.png' %}" class="img-fluid" alt="client-img" />
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="iq-client-img">
                                        <img src="{% static 'web/images/client/03.png' %}" class="img-fluid" alt="client-img" />
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="iq-client-img">
                                        <img src="{% static 'web/images/client/04.png' %}" class="img-fluid" alt="client-img" />
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="iq-client-img">
                                        <img src="{% static 'web/images/client/05.png' %}" class="img-fluid" alt="client-img" />
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="iq-client-img">
                                        <img src="{% static 'web/images/client/06.png' %}" class="img-fluid" alt="client-img" />
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="iq-client-img">
                                        <img src="{% static 'web/images/client/01.png' %}" class="img-fluid" alt="client-img" />
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="iq-client-img">
                                        <img src="{% static 'web/images/client/02.png' %}" class="img-fluid" alt="client-img" />
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Client End -->
        {% comment %} <!-- Features Start -->
        <section class="iq-fancy-box-section">
            <img src="{% static 'web/images/others/shape1.png' %}" class="img-fluid shape-left" alt="QLOUD">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="text-center iq-title-box iq-title-default iq-title-box-2 wow fadeInUp" data-wow-duration="0.6s">
                            <div class="iq-title-icon">
                            </div>
                            <span class="iq-subtitle">How It's Work</span>
                            <h2 class="iq-title">Instant Deploys For All Your Apps</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 mb-lg-0 mb-5">
                        <div class="iq-process iq-process-step-style-6 text-center wow fadeInUp" data-wow-duration="0.6s">
                            <div class="iq-process-step">
                                <img class="iq-before-img img-fluid" src="{% static 'web/images/arrow/01.png' %}" alt="arrow-img">
                                <div class="iq-step-content">
                                    <img class="hover-img img-fluid" src="{% static 'web/images/work/01.png' %}" alt="fancybox"> </div>
                                <div class="iq-step-text-area">
                                    <h4 class="iq-step-title mt-3 mb-3">Select a service type</h4>
                                    <span class="iq-step-desc">It is a long established fact that a  freader will be distracted by the .
                              </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 mb-lg-0 mb-5">
                        <div class="iq-process iq-process-step-style-6 text-center wow fadeInUp" data-wow-duration="1.2s">
                            <div class="iq-process-step">
                                <img class="iq-before-img img-fluid" src="{% static 'web/images/arrow/01.png' %}" alt="arrow-img">
                                <div class="iq-step-content">
                                    <img class="hover-img img-fluid" src="{% static 'web/images/work/02.png' %}" alt="fancybox">
                                </div>
                                <div class="iq-step-text-area">
                                    <h4 class="iq-step-title mt-3 mb-3">Deploy in seconds</h4>
                                    <span class="iq-step-desc">It is a long established fact that a  freader will be distracted by the .
                              </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="iq-process iq-process-step-style-6 text-center wow fadeInUp" data-wow-duration="1.8s">

                            <div class="iq-process-step">
                                <div class="iq-step-content">
                                    <img class="hover-img img-fluid" src="{% static 'web/images/work/03.png' %}" alt="fancybox"> </div>
                                <div class="iq-step-text-area">
                                    <h4 class="iq-step-title mt-3 mb-3">Update automatically</h4>

                                    <span class="iq-step-desc">It is a long established fact that a  freader will be distracted by the .
                              </span>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section> {% endcomment %}
            {% comment %} <!-- About Us Start -->
    <section class="iq-pb-70">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-center iq-title-box iq-title-default iq-title-box-2 wow fadeInUp">
                        <div class="iq-title-icon">
                        </div>
                        <span class="iq-subtitle">About Us</span>
                        <h2 class="iq-title">Insights & resources</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-12 mb-lg-0 mb-4">
                    <div class="row">
        <div class="col-lg-12 col-md-6">


                    <div class="iq-icon-box iq-icon-box-style-8  text-center wow fadeInLeft">
                        <div class="icon-box-img">
                            <img src="{% static 'web/images/icon-box/07.png' %}" class="img-fluid mb-3" alt="qloud"> </div>
                        <div class="icon-box-content">
                            <h5 class="icon-box-title"> <a href="faq.html">FAQ</a>
                           </h5>

                        </div>
                    </div>

                </div>
                <div class="col-lg-12 col-md-6">
                    <div class="iq-icon-box iq-icon-box-style-8  text-center wow fadeInLeft">
                        <div class="icon-box-img">
                            <img src="{% static 'web/images/icon-box/08.png' %}" class="img-fluid mb-3" alt="qloud"> </div>
                        <div class="icon-box-content">
                            <h5 class="icon-box-title"> <a href="services.html">Server Status</a>
                           </h5>

                        </div>
                    </div>
                </div>
                </div>
            </div>
                <div class="col-lg-6 col-md-12 mb-lg-0 mb-4">
                    <div class="iq-fancy-box iq-resorces  text-left active wow fadeInUp ">
                        <div class="iq-fancy-box-content">
                            <div class="iq-img-area">
                                <img src="{% static 'web/images/others/04.png' %}" class="img-fluid" title="img1" alt="qloud"> </div>
                            <div class="media-body">
                                <h5 class="iq-fancy-title"> Increase Performance With Balancers</h5>

                                <p class="fancy-box-content mb-0"> It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. </p>

                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-12">
                    <div class="row">
        <div class="col-lg-12 col-md-6">


                    <div class="iq-icon-box iq-icon-box-style-8  text-center  wow fadeInRight">
                        <div class="icon-box-img">
                            <img src="{% static 'web/images/icon-box/09.png' %}" class="img-fluid mb-3" alt="qloud"> </div>
                        <div class="icon-box-content">
                            <h5 class="icon-box-title"> <a href="faq.html">Documentation</a>
                           </h5>

                        </div>
                    </div>
                    </div>
                <div class="col-lg-12 col-md-6">
                    <div class="iq-icon-box iq-icon-box-style-8  text-center wow fadeInRight">
                        <div class="icon-box-img">
                            <img src="{% static 'web/images/icon-box/07.png' %}" class="img-fluid mb-3" alt="qloud"> </div>
                        <div class="icon-box-content">
                            <h5 class="icon-box-title"> <a href="services.html">APIs</a>
                           </h5>

                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
    </section>
    <!-- About Us End --> {% endcomment %}


    <section>
        <img src="{% static 'web/images/others/shape1.png' %}" class="img-fluid shape-left" alt="QLOUD">
        <img src="{% static 'web/images/others/shape1.png' %}" class="img-fluid shape-right" alt="1">
        <div class="container">
            <div class="row">

                <div class="col-lg-6 col-sm-12 mb-lg-0 mb-5">
                    <div class=" text-left iq-title-box iq-title-default iq-title-box-2">
                        <div class="iq-title-icon">
                        </div>
                        <span class="iq-subtitle">About</span>
                        <h2 class="iq-title">Pioneering Tomorrow's Success with Innovative IT and Network Solutions</h2>

                        <p class="iq-title-desc">Welcome to DCNS – Digital Corner for Network Solutions, a leading innovative IT and Network Solutions company. We are a dynamic team of entrepreneurs and engineers, and are driven by innovative ideas to create a brighter tomorrow. DCNS prides itself on providing intelligent solutions tailored to businesses of all sizes, coupled with unparalleled and dedicated service. We firmly believe that deep understanding and technological advancement are the pillars that guide businesses towards a successful future Contact us and explore the possibilities. </p>
                    </div>
                    <div class="iq-btn-container">
                        <a class="iq-button iq-btn-round has-icon btn-icon-right d-inline" href="{% url "web:about" %}">
                                      View More
                                   </a>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-12">
                    <img src="{% static 'web/images/others/05.png' %}" class="img-fluid" alt="qloud">
                </div>
            </div>
        </div>
    </section>
    
        <!-- Icon-box Start -->
        <section class="pt-0 iq-pb-70">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="text-center iq-title-box iq-title-default iq-title-box-2 wow fadeInUp" data-wow-duration="0.6s">
                            <div class="iq-title-icon">
                            </div>
                            <span class="iq-subtitle">What We Offer</span>
                            <h2 class="iq-title">Navigating the Future with Innovative IT Solutions</h2>

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="iq-fancy-box-list iq-fancy-box-list-1  text-left iq-shadow wow fadeInUp" data-wow-duration="0.6s">
                            <div class="iq-fancy-box-content">
                                <div class="iq-img-area">
                                    <img src="{% static 'web/images/fancy-list/01.png' %}" class="img-fluid" alt="QLOUD"> </div>
                                <div class="iq-fancy-details">
                                    <h4 class="iq-fancy-title"> Innovative IT Solutions</h4>
                                    <div class="special-content">
                                        <p class="fancy-box-content"> Acknowledge the power of the latest technological developments at DCNS. Our innovative IT solutions are designed to optimize your business processes, increase productivity and keep you ahead of industry trends.
                                        </p>
                                    </div>

                                    {% comment %} <div class="iq-list  iq-one-column">
                                        <ul class="iq-list-with-icon">
                                            <li>
                                                <i class="ion ion-android-checkbox-outline"></i> Advance Advisory Team </li>

                                            <li>
                                                <i class="ion ion-android-checkbox-outline"></i> Professional Services </li>

                                        </ul>
                                    </div> {% endcomment %}

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="iq-fancy-box-list iq-fancy-box-list-1  text-left iq-shadow wow fadeInUp" data-wow-duration="0.9s">
                            <div class="iq-fancy-box-content">
                                <div class="iq-img-area">
                                    <img src="{% static 'web/images/fancy-list/02.png' %}" class="img-fluid" alt="QLOUD"> </div>
                                <div class="iq-fancy-details">
                                    <h4 class="iq-fancy-title"> Robust Networking Solutions</h4>
                                    <div class="special-content">
                                        <p class="fancy-box-content"> Experience seamless connectivity and communication with DCNS networking solutions. We provide robust infrastructure and tailored networking setups to ensure your business stays connected, no matter the scale or complexity.
                                        </p>
                                    </div>

                                    {% comment %} <div class="iq-list  iq-one-column">
                                        <ul class="iq-list-with-icon">
                                            <li>
                                                <i class="ion ion-android-checkbox-outline"></i> Advance Advisory Team </li>

                                            <li>
                                                <i class="ion ion-android-checkbox-outline"></i> Professional Services </li>

                                        </ul>
                                    </div> {% endcomment %}

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="iq-fancy-box-list iq-fancy-box-list-1  text-left iq-shadow wow fadeInUp" data-wow-duration="1.2s">
                            <div class="iq-fancy-box-content">
                                <div class="iq-img-area">
                                    <img src="{% static 'web/images/fancy-list/03.png' %}" class="img-fluid" alt="QLOUD"> </div>
                                <div class="iq-fancy-details">
                                    <h4 class="iq-fancy-title"> Best Cloud Options</h4>
                                    <div class="special-content">
                                        <p class="fancy-box-content">Elevate your business to new heights with our state-of-the-art cloud solutions. From scalable cloud infrastructure to secure data storage, DCNS empowers you to harness the full power of cloud technology for flexibility and efficiency
                                        </p>
                                    </div>

                                    {% comment %} <div class="iq-list  iq-one-column">
                                        <ul class="iq-list-with-icon">
                                            <li>
                                                <i class="ion ion-android-checkbox-outline"></i> Advance Advisory Team </li>

                                            <li>
                                                <i class="ion ion-android-checkbox-outline"></i> Professional Services </li>

                                        </ul>
                                    </div> {% endcomment %}

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="iq-fancy-box-list iq-fancy-box-list-1  text-left iq-shadow wow fadeInUp" data-wow-duration="1.5s">
                            <div class="iq-fancy-box-content">
                                <div class="iq-img-area">
                                    <img src="{% static 'web/images/fancy-list/04.png' %}" class="img-fluid" alt="QLOUD"> </div>
                                <div class="iq-fancy-details">
                                    <h4 class="iq-fancy-title"> Tailor services for all sizes</h4>
                                    <div class="special-content">
                                        <p class="fancy-box-content"> At DCNS, we understand that different projects come in different sizes. Our solutions are not one-size-fits-all; We tailor our service to the unique needs of your business, ensuring the best fit for projects of all sizes.
                                        </p>
                                    </div>

                                    {% comment %} <div class="iq-list  iq-one-column">
                                        <ul class="iq-list-with-icon">
                                            <li>
                                                <i class="ion ion-android-checkbox-outline"></i> Advance Advisory Team </li>

                                            <li>
                                                <i class="ion ion-android-checkbox-outline"></i> Professional Services </li>

                                        </ul>
                                    </div> {% endcomment %}

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="iq-fancy-box-list iq-fancy-box-list-1  text-left iq-shadow wow fadeInUp" data-wow-duration="1.8s">
                            <div class="iq-fancy-box-content">
                                <div class="iq-img-area">
                                    <img src="{% static 'web/images/fancy-list/05.png' %}" class="img-fluid" alt="QLOUD"> </div>
                                <div class="iq-fancy-details">
                                    <h4 class="iq-fancy-title"> Dedicated Customer Service</h4>
                                    <div class="special-content">
                                        <p class="fancy-box-content"> Experience unmatched support at DCNS. Our dedicated team of professionals is committed to providing efficient and reliable customer service. We stand by your side, solve your problems and ensure a smooth journey with our solutions.
                                        </p>
                                    </div>

                                    {% comment %} <div class="iq-list  iq-one-column">
                                        <ul class="iq-list-with-icon">
                                            <li>
                                                <i class="ion ion-android-checkbox-outline"></i> Advance Advisory Team </li>

                                            <li>
                                                <i class="ion ion-android-checkbox-outline"></i> Professional Services </li>

                                        </ul>
                                    </div> {% endcomment %}

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="iq-fancy-box-list iq-fancy-box-list-1  text-left iq-shadow wow fadeInUp" data-wow-duration="1.8s">
                            <div class="iq-fancy-box-content">
                                <div class="iq-img-area">
                                    <img src="{% static 'web/images/fancy-list/06.png' %}" class="img-fluid" alt="QLOUD"> </div>
                                <div class="iq-fancy-details">
                                    <h4 class="iq-fancy-title"> Pathways set for the future</h4>
                                    <div class="special-content">
                                        <p class="fancy-box-content"> Stay ahead of the curve on DCNS’ future-ready approach. We not only deal with today’s challenges; Let’s look forward to tomorrow’s opportunities. Partner with us to implement strategies that position your business for continued success in the evolving technology and business landscape.
                                        </p>
                                    </div>

                                    {% comment %} <div class="iq-list  iq-one-column">
                                        <ul class="iq-list-with-icon">
                                            <li>
                                                <i class="ion ion-android-checkbox-outline"></i> Advance Advisory Team </li>

                                            <li>
                                                <i class="ion ion-android-checkbox-outline"></i> Professional Services </li>

                                        </ul>
                                    </div> {% endcomment %}

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>
        <!-- Icon-box End -->
{% include "web/partials/whychoose.html" %}    

        <!-- Counter Start -->
        <section class="gray-bg iq-ptb-60">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="iq-counter text-center iq-counter-style-2">

                            <div class="counter-content">

                                <div class="counter-title-text">Successfully Served </div>
                                <p class="iq-counter-info">
                                    <span class="timer" data-to="1790" data-speed="5000">1790</span>
                                    <span class="counter-after-content"></span>
                                    <span class="counter-symbol"></span></p>
                                <p class="counter-content-text">Happy Clients</p>

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="iq-counter text-center iq-counter-style-2">

                            <div class="counter-content">

                                <h4 class="counter-title-text">Successfully Completed</h4>
                                <p class="iq-counter-info">
                                    <span class="timer" data-to="491" data-speed="5000">491</span>
                                    <span class="counter-after-content"></span>
                                    <span class="counter-symbol"></span></p>
                                <p class="counter-content-text">Branding Projects</p>

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="iq-counter text-center iq-counter-style-2">

                            <div class="counter-content">

                                <h4 class="counter-title-text">Recruited more than</h4>
                                <p class="iq-counter-info">
                                    <span class="timer" data-to="245" data-speed="5000">245</span>
                                    <span class="counter-after-content"></span>
                                    <span class="counter-symbol"></span></p>
                                <p class="counter-content-text">Marketing Experts</p>

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="iq-counter text-center iq-counter-style-2">

                            <div class="counter-content">

                                <h4 class="counter-title-text">Publicly Published</h4>
                                <p class="iq-counter-info">
                                    <span class="timer" data-to="1090" data-speed="5000">1090</span>
                                    <span class="counter-after-content"></span>
                                    <span class="counter-symbol"></span></p>
                                <p class="counter-content-text">Blog Posts</p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- COUNTER END -->
        <section>
            <img src="{% static 'web/images/others/shape1.png' %}" class="img-fluid shape-left" alt="QLOUD">
            <img src="{% static 'web/images/others/shape1.png' %}" class="img-fluid shape-right" alt="1">
            <div class="container">
                <div class="row">

                    <div class="col-lg-6 col-sm-12 mb-lg-0 mb-5">
                        <div class=" text-left iq-title-box iq-title-default iq-title-box-2">
                            <div class="iq-title-icon">
                            </div>
                            <span class="iq-subtitle">Let's Get Started</span>
                            <h2 class="iq-title">
                                Are you ready for a better, more productive business?  </h2>

                            <p class="iq-title-desc">Ready for a transformational leap towards entrepreneurship and success? DCNS invites you to take a journey to a better, more efficient job. Our innovative IT, network and cloud solutions are designed to meet your unique needs. With a commitment to unmatched service, proven success, and a focus on your satisfaction, DCNS is your partner for a future-ready and productive career Together we leave the road to business a the superiority of the.</p>
                        </div>
                        <div class="iq-btn-container">
                            <a class="iq-button iq-btn-round has-icon btn-icon-right d-inline" href="{% url "web:contact" %}">
                                          Contact Us
                                       </a>
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-12">
                        <img src="{% static 'web/images/others/05.png' %}" class="img-fluid" alt="qloud">
                    </div>
                </div>
            </div>
        </section>

        <section class="iq-testimonial-section light-gray-bg">
            <div class="container">
              <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 align-self-center">
                  <div class="text-center iq-title-box iq-title-default iq-title-box-2">
                    <div class="iq-title-icon"></div>
                    <span class="iq-subtitle">Testimonial</span>
                    <h2 class="iq-title">100+ Companies are using Qloud</h2>
                  </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 align-self-center">
                  <div class="iq-testimonial text-center iq-testimonial-7">
                    <div class="owl-carousel" data-dots="false" data-nav="false" data-items="3" data-items-laptop="3" data-items-tab="2" data-items-mobile="1" data-items-mobile-sm="1" data-autoplay="true" data-loop="true" data-margin="30">
                      {% for testimonial in testimonials %}
                        <div class="iq-testimonial-info">
                          <div class="iq-testimonial-content">
                            <p>{{ testimonial.content }}</p>
                            <div class="iq-testimonial-avtar">
                              <img alt="image-testimonial" class="img-fluid center-block" src="{{ testimonial.avatar_image.url }}" />
                            </div>
                          </div>
                          <div class="iq-testimonial-member">
                            <div class="avtar-name">
                              <div class="iq-lead">{{ testimonial.author_name }}</div>
                              <span class="iq-post-meta">{{ testimonial.author_position }}</span>
                            </div>
                          </div>
                        </div>
                      {% endfor %}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>

      <!-- Blog Start -->
{% include "web/partials/updates.html" %}
        <!-- Blog End --> 
    </div>
    <!-- Main-Content End -->
{% endblock %}