{% load static %}
<!-- Footer Start -->
<footer id="contact" class=" iq-over-dark-90">

    <!-- Address -->
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6 ">
                    <div class="widget">
                        <div class="textwidget ">
                            <p><img class="mb-4 img-fluid" src="{% static 'web/images/logo.svg' %}" alt="qloud">
                                <br> It is a long established fact that a reader will be distracted by the readable
                                content.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-6 mt-4 mt-lg-0 mt-md-0 ">
                    <div class="widget">
                        <h4 class="footer-title">Quick Links</h4>
                        <div>
                            <ul class="menu">
                                <li><a href="{% url "web:index" %}" aria-current="page">Home</a></li>
                                <li><a href="{% url "web:about" %}">About Us</a></li>
                                <li><a href="{% url "web:service" %}">Service</a></li>
                                <li><a href="{% url "web:updates" %}">Updates</a></li>
                                <li><a href="{% url "web:contact" %}">Contact Us</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-6 mt-lg-0 mt-4">
                    <div class="widget">
                        <h4 class="footer-title ">Updates</h4>
                        <div class="menu-about">
                            <ul id="menu-about-menu" class="menu">
                                {% for update_details in updates %}
                                <li><a href="{{ update_details.get_absolute_url }}">{{ update_details.title }}</a></li>
                                {% endfor %}

                            </ul>
                        </div>
                    </div>
                </div>
          
                <div class="col-lg-3 col-md-6 col-sm-6 mt-lg-0 mt-4">
                    <div class="widget">
                        <h4 class="footer-title ">Contact Us</h4>
                        <div class="row">
                            <div class="col-sm-12">
                                <ul class="iq-contact">
                                    <li>
                                        <a><i class="fa fa-home"></i><span>1234 North Avenue Luke Lane, South Bend, IN
                                                360001</span></a>
                                    </li>
                                    <li>
                                        <a href="mailto:support@iqnonicthemes.com"><i
                                                class="fa fa-envelope"></i><span>support@iqnonicthemes.com</span></a>
                                    </li>
                                    <li>
                                        <a href="tel:+0123456789"><i
                                                class="fa fa-phone"></i><span>+0123456789</span></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Address END -->
    <div class="copyright-footer">
        <div class="container">
            <div class="pt-3 pb-3">
                <div class="row justify-content-between">
                    <div class="col-lg-6 col-md-12 text-lg-left text-md-center text-center">
                        <div class="social-icone">
                            <ul>
                                <li class="d-inline"><a href="javascript:void(0)"><i class="fa fa-twitter"></i></a></li>
                                <li class="d-inline"><a href="javascript:void(0)"><i class="fa fa-instagram"></i></a>
                                </li>
                                <li class="d-inline"><a href="javascript:void(0)"><i class="fa fa-linkedin"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 text-lg-right text-md-center text-center">
                        <span class="copyright">Copyright <span id="copyright">
                                <script>document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))</script>
                            </span> @Gedexo Technologies.</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>