<section class="iq-blog-section iq-pb-55">
   <div class="container">
      <div class="row">
         <div class="iq-blog text-left ">
            <div class="row">
               {% for update in updates %}
               <div class="col-lg-4 col-md-6 qloud-space-bottom ">
                  <div class="iq-blog-box">
                     <div class="iq-blog-image clearfix">
                        <img src="{{ update.image.url }}" class="img-fluid" alt="blog" />
                        <ul class="iq-blogtag">
                        </ul>

                     </div>
                     <div class="iq-blog-detail">
                        <div class="iq-blog-meta">
                           <ul class="iq-postdate">
                              <li class="list-inline-item">
                                 <i class="fa fa-calendar-alt mr-2"></i>
                                 <span class="screen-reader-text">Posted on</span> <a href="javascript:void(0)"
                                    rel="bookmark"><time class="entry-date published updated"
                                       datetime="2020-02-17T06:40:07+00:00">{{ update.pub_date}}</time></a>
                              </li>
                           </ul>

                        </div>

                        <div class="blog-title service-title">
                           <a href="{{ update.get_absolute_url }}">
                              <h5 class="mb-3">{{ update.title }}</h5>
                           </a>
                        </div>

                        <p class="">{{ update.content|truncatechars:80 }}</p>
                        <div class="blog-button">
                           <a class="iq-btn-link" href="{{ update.get_absolute_url }}">Read More<i
                                 class="ml-2 ion-ios-arrow-right"></i></a>
                        </div>
                     </div>
                  </div>
               </div>
               {% endfor %}

            </div>
         </div>
      </div>
   </div>
</section>